@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FAFAFA;
    --foreground: #52525B;
    --strong: #27272A;
    --card: #FFFFFF;
    --card-foreground: #71717A;
    --primary: #6484AC;
    --primary-foreground:#FAFAFA;
    --secondary:#D3E0EA;
    --secondary-foreground:#5A76A0;
    --muted:#F4F4F5;
    --muted-foreground:#A1A1AA;
    --accent:#E6EEF3;
    --accent-foreground:#6484AC;
    --border:#B5CCDB;
    --border-soft:#E4E4E7;
    --ring:#6484AC;
    --ring-soft: #D3E0EA;
    --destructive:#ef4444;
    --destructive-foreground:#fef2f2;
  }

  .dark {
    --background: #09090B;
    --foreground: #D4D4D8;
    --strong: #FAFAFA;
    --card: #18181B;
    --card-foreground: #A1A1AA;
    --primary: #769ABB;
    --primary-foreground:#FAFAFA;
    --secondary:#4C5F81;
    --secondary-foreground:#E6EEF3;
    --muted:#27272A;
    --muted-foreground:#71717A;
    --accent:#405068;
    --accent-foreground:#B5CCDB;
    --border:#4C5F81;
    --border-soft:#27272A;
    --ring:#769ABB;
    --ring-soft: #405068;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  a:focus-visible {
    @apply outline outline-2 outline-accent-foreground outline-offset-4 rounded;
  }
}